<ion-header>
  <ion-toolbar>
    <ion-title>Calculateur d'intérêts composés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Investissement initial</ion-label>
    <ion-input (keyup)="submit()" [(ngModel)]="initialInvestment" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Taux d'intérêt</ion-label>
    <ion-input (keyup)="submit()" [(ngModel)]="interestRate" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Montant des versements</ion-label>
    <ion-input (keyup)="submit()" [(ngModel)]="depositAmount" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fréquence des versements</ion-label>
    <ion-select (ionChange)="selectDepositFrequency($event)" placeholder="Veuillez sélectionner une fréquence">
      <ion-select-option value="mois">Tous les mois</ion-select-option>
      <ion-select-option value="trimestres">Tous les trimestres</ion-select-option>
      <ion-select-option value="ans">Tous les ans</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Durée</ion-label>
    <ion-input (keyup)="submit()" [(ngModel)]="duration" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fréquence de calcul des intérêts</ion-label>
    <ion-select (ionChange)="selectInterestFrequency($event)" placeholder="Veuillez sélectionner une fréquence">
      <ion-select-option value="jours">Tous les jours</ion-select-option>
      <ion-select-option value="mois">Tous les mois</ion-select-option>
      <ion-select-option value="trimestres">Tous les trimestres</ion-select-option>
      <ion-select-option value="semestres">Tous les semestres</ion-select-option>
      <ion-select-option value="ans">Tous les ans</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="submit()">Calculer</ion-button>

  <section>
    <div class="result">
        <h2>Résultat</h2>

        <p>Valeur totale de votre placement: {{result}}€</p>

        <p>Total des intérêts gagnés: {{totalInterest}}€</p>

        <p>Votre placement initial de {{initialInvestment}}€, à un taux d’intérêt annualisé de {{interestRate}}% vaudra {{result}}€ après {{duration}} année(s) si l’intérêt est calculé tous les {{interestFrequency}}.</p>
    </div>
  </section>

  <section>
    <div class="graphic">

        <h2>Graphique</h2>

        <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="barChartType">
        </canvas>

    </div>
  </section>

</ion-content>
